<h2>Órdenes</h2>

<table mat-table [dataSource]="orders" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let order">{{order.id}}</td>
  </ng-container>

  <ng-container matColumnDef="customer">
    <th mat-header-cell *matHeaderCellDef>Cliente</th>
    <td mat-cell *matCellDef="let order">{{order.customer.name}}</td>
  </ng-container>

  <ng-container matColumnDef="order_date">
    <th mat-header-cell *matHeaderCellDef>Fecha</th>
    <td mat-cell *matCellDef="let order">{{order.order_date | date:'short'}}</td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>Estado</th>
    <td mat-cell *matCellDef="let order">{{order.status}}</td>
  </ng-container>

  <ng-container matColumnDef="payment_method">
    <th mat-header-cell *matHeaderCellDef>Método pago</th>
    <td mat-cell *matCellDef="let order">{{order.payment_method}}</td>
  </ng-container>

  <ng-container matColumnDef="total_amount">
    <th mat-header-cell *matHeaderCellDef>Total</th>
    <td mat-cell *matCellDef="let order">{{order.total_amount | currency}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div style="margin-top: 10px;">
  <button mat-button (click)="changePage(page-1)" [disabled]="page === 1">Anterior</button>
  <span>Página {{ page }}</span>
  <button mat-button (click)="changePage(page+1)" [disabled]="page * pageSize >= total">Siguiente</button>
</div>
